<html>
    <head>
        <title>Copyright | (title)</title>
        <link href="style.css" type="text/css" rel="stylesheet" />
        <style type="text/css">
            p { text-align: center; }
        </style>
    </head>
    
    <body>

        <p>(rights)</p>
        
        <p>(isbn)</p>
        
        <p><small>eBook created using <a href="http://sorrowfulunfouunded.com/wp_ebook_export/">WP eBook Export</a> plugin developed by Christopher Clarke.</small></p>
    
    </body>
    
</html>
