<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
   <head>
      <title>(title) by (author)</title>
      <link rel="stylesheet" href="css/titlepage.css" type="text/css"/>
      <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
   </head>
   <body>
      <div class="body">
         <div id="frontmatter">
            <div id="titlepage">
               <h1 class="part-title">(title)</h1>
               <h3 class="title-break">***</h3>
               <h3 class="author">(author)</h3>
               <h5>
                  <a href="(blogurl)">(blogname)</a>
               </h5>
               <p>(webficlistings)</p>
            </div>
         </div>
      </div>
   </body>
</html>
